<div>
	<div class='container' id='container'>

		<!--		<div class='container__read-part' id='read-part'>-->
		<!--			<p></p>-->
		<!--		</div>-->

		<label class='container__input-part' id='input-label'>
			<div class='input-part__field' id='input-part'>
				<input type='text' />
				<div class='container__action-part' id='action-part-row'>

					<div class='action-part__lang-cont' id='lang-list-row'>
						<div class='lang-cont__btn--select'>
							<button class='lang-cont__btn-hdn ' id='btn-select-hidden-lang-row'>...</button>
							<ul class='lang-cont__hidden-list lang-cont__hidden-list--hide' id='hidden-lang-list-row'>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</label>

		<div class='container__action-part' id='action-part'>

			<div class='action-part__lang-cont' id='lang-list'>
				<div class='lang-cont__btn--select'>
					<button class='lang-cont__btn-hdn ' id='btn-select-hidden-lang'>...</button>
					<ul class='lang-cont__hidden-list lang-cont__hidden-list--hide' id='hidden-lang-list'>
					</ul>
				</div>
			</div>

		</div>

	</div>
</div>