@import "./../../../styles.css";
@import "./_variables.css";
@import "./_modifiers.css";

.container {
    display: flex;
    position: relative;
    width: fit-content;
    min-width: var(--container--min-width);
    color: var(--container--text-color);
    background-color: var(--container--bg-color);
    margin: var(--container--margin);
    padding: var(--container--padding);
    align-items: center;
}

.container__input-part {
    display: flex;
    width: 100%;
}

.container__action-part {
    display: flex;
    justify-content: space-between;
}

.input-part__field {
    display: flex;
    flex: 1;
    border: var(--input-field--border);
    border-radius: var(--input-field--border-radius);
    padding: var(--input-field--padding);
}

.input-part__field > input {
    flex: 1;
}

.action-part__lang-cont {
    white-space: nowrap;
    position: relative;
    display: flex;
}

.action-part__lang-select {
    position: relative;
}

.lang-select__btn-open {
    margin: 4px 0 4px 4px;
    border: var(--lang-btn--border);
    border-radius: var(--lang-btn--border-radius);
    background: var(--lang-btn--background);
    width: var(--lang-btn--width);
    padding: var(--lang-btn--padding);
    text-transform: var(--lang-btn--text-transform);
}

.lang-cont__btn {
    border: var(--lang-btn--border);
    border-radius: var(--lang-btn--border-radius);
    background: var(--lang-btn--background);
    width: var(--lang-btn--width);
    padding: var(--lang-btn--padding);
    text-transform: var(--lang-btn--text-transform);
    margin: var(--lang-btn--margin);
}

.lang-cont__btn-hdn {
    border: var(--lang-btn--border);
    border-radius: var(--lang-btn--border-radius);
    background: var(--lang-btn--background);
    width: var(--lang-btn--width);
    padding: var(--lang-btn--padding);
    text-transform: var(--lang-btn--text-transform);
    margin: var(--lang-btn-hdn-selector--margin);
    z-index: 1;
    position: relative;
}

.lang-cont__btn--select {
    order: 1;
    margin-right: 0;
}

.lang-cont__hidden-list {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.1s;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn__icon {
    width: 12px;
    height: 12px;
}